[Unit]
Description=Smart water timer physical button timer reset script
After=network.target

[Service]
Type=simple
Environment="PYTHONUNBUFFERED=1"
ExecStart=/usr/src/UsefulScriptsAndOtherTidbits/Zigbee2MQTT/timer_reset.py -v
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal
User=timer_reset

[Install]
WantedBy=multi-user.target
